#menu {
    position: fixed;
    font-family: Calibri;
}

h1{
    font-size: 90px;
}


p.aboutMeP {
    direction: rtl;
    font-family: Calibri, Calibri, aboutMeP;
    font-weight: normal;
    font-size: 15px;

}
p {
    font-family: Calibri, Calibri, aboutMeP;
    font-weight: normal;
    font-size: 15px;
    text-align: justify;
    text-justify: inter-word;
}

h2 {
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #000;
    line-height: 0.1em;
    margin: 10px 0 20px;
    color: dimgrey;
}

    h2 span {
        background: #fff;
        padding: 0 10px;
        color: black;
    }
.contents {
    background: white;
    width: 50%;
    padding: 40px;
    margin: 100px auto;
    font-family: Calibri;
    border-radius: 10px;
}

section {
    font-weight: bold;
    font-size: 25px;
}

/* unvisited link */
a {
    text-decoration: none;
    display: inline-block;
}

    a:link {
        color: antiquewhite;
    }

    /* visited link */
    a:visited {
        color: skyblue;
    }

    /* mouse over link */
    a:hover {
        color: cornflowerblue;
    }

    /* selected link */
    a:active {
        color: mediumslateblue;
    }

.center {
    display: block;
    margin-left: auto;
    margin-right: auto
}

.center2 {
    display: block;
    margin-left: auto;
    margin-right: auto
}


img {
    opacity: 0.5;
}

#qr {
    opacity: 1.0;
}

img:hover {
    opacity: 1.0;
}
